{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}

    <h1>Login</h1>

    <form method="POST" action="{{ path('app_login') }}">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit"> Connexion </button>
    </form>

    {% for message in app.flashes('error') %}
    <script>
        alert({{ message|json_encode|raw }});
    </script>
{% endfor %}

{% endblock %}
