{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <p>--------------------------------</p>
    <h1>Task Manager Pro</h1>
    <h3>Bonjour, {{ user.getFirstName() }}!</h3>
    <h3>Bienvenue dans votre espace de gestion des tâches.</h3>
    <p>--------------------------------</p>
    <button><a href="{{ path('app_logout') }}">Déconnexion</a></button>
    
{% endblock %}