{% extends 'base.html.twig' %}
{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Bienvenue sur ma page de présentation</h1>
    <p>Je m'appelle {{identite.nom}} {{identite.prenom}} j'ai {{identite.age}} ans.</p>
    
{% endblock %}